.head {
    display: flex;
    justify-content: center;
    background-color: green;
    color: white;
    padding: 10px;
}

.body {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin-top: 20px;
    gap: 10px;
}

.body h1, .body h2 {
    text-align: center;
}

.body button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}